/target/
!.mvn/wrapper/maven-wrapper.jar

# Visual Studio temp something
.vs/

# dotnet stuff
project.lock.json

# VS 2015+
*.vc.vc.opendb
*.vc.db

# Rider
.idea/

# Output folder used by Webpack or other FE stuff
**/node_modules/*
**/wwwroot/*

# SpecFlow specific
*.feature.cs
*.feature.xlsx.*
*.Specs_*.html

#####
# End of core ignore list, below put you custom 'per project' settings (patterns or path)
#####
.idea/
.settings/
classes/
target/