<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCJPA2HibernateManyToManyCRUDExample:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCJPA2HibernateManyToManyCRUDExample.war">
      <element id="artifact" artifact-name="SpringMVCJPA2HibernateManyToManyCRUDExample:war exploded" />
    </root>
  </artifact>
</component>